

.App{
  background-color: rgb(27, 3, 3);
  color: aliceblue;
  width: 50%;
  border-radius: 20px;
  margin: 5em auto;
  position: relative;
  .section1{
    padding: 0 2em;
    padding-bottom: 2em;
    .header{
      background-color: beige;
      color: blue;
      margin: 0 auto;
      padding: 0.3em;
      width: 70%;
      border-radius: 5px;
      text-align: center;
      
    }
    .time{
      text-align: center;
      span{
        font-size: 1.5em;
        font-weight: bolder;
        text-transform: capitalize;
      }
      .flex{
      
      }
      input{
        margin: 0 1em;
        color: black;
      }
      .start{
        display: flex;
        justify-content: space-around;
        padding: 1em;
        border: 2px solid;
        margin: 1em;
      }
      .to{
        display: flex;
        justify-content: space-around;
        padding: 1em;
        border: 2px solid;
        margin: 1em;
      }
    }
    .descreption{
      padding: 2em;
      padding: 1em;
      border: 2px solid;
      margin: 1em;
      input{
        width: 100%;
      }
    }
    .pageChange{
      margin: 1em auto;
      width: 90%;
      padding: 0em;
      border: 2px solid;
      display: flex;
      justify-content: space-between;
      button{
        background-color: blue;
        color: #ffffff;
        border-radius: 5px;
        padding: 0.5em;
        outline: none;
      }
    }
  }
}